<!DOCTYPE html>
<html lang="en-MA">
<head>
    <title>ASCII Art Web</title>
</head>
<body>
    <h1>Display ASCII Art</h1>
    <form action="/ascii-art" method="post">
        <fieldset>
            <legend>ASCII-ART FORM</legend>
            <label for="text">Enter a Text:</label>
            <br>
            <textarea id="text" name="text" rows="4" cols="50" required></textarea>
            <br>
            <label for="banner">Banner:</label>
            <select id="banner" name="banner">
                <option value="standard">Standard</option>
                <option value="thinkertoy">Thinkertoy</option>
                <option value="shadow">Shadow</option>
            </select>
	    <br>
            <button type="submit">Generate</button>
           {{ if .Shown }}
          	  <a href="/download" download="ascii-art.txt">Download Result</a>
           {{ end }}
	   <br>
	   <p>{{ .Err }}<p>
        <fieldset>
            <legend>RESULT:</legend>
            <pre>{{ .Ascii }}</pre>
	    </fieldset>
        </fieldset>
    </form>
</body>
</html>

